.header {
  text-align: center;
  user-select: none;
  width: 100%;
  padding: 12px;
  backdrop-filter: blur(3px) saturate(114%);
  -webkit-backdrop-filter: blur(3px) saturate(114%);
  background-color: rgba(17, 25, 40, 0.29);
  border-bottom: 1px solid rgba(255, 255, 255, 0.125);
  margin: 0;
}

.header b {
  font: 400 30px "Vibur";
  color: rgb(255, 255, 255);
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #e044ff, 0 0 0.5em #ff44e6, 0 0 0.1em #ff44e6, 0 10px 3px #000;
}

.header b span {
  animation: blink linear infinite 2s;
}

.header b span:nth-of-type(2) {
  animation: blink linear infinite 3s;
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }

  79% {
    color: #333;
  }

  80% {

    text-shadow: none;
  }

  81% {
    color: inherit;
    text-shadow: inherit;
  }

  82% {
    color: #333;
    text-shadow: none;
  }

  83% {
    color: inherit;
    text-shadow: inherit;
  }

  92% {
    color: #333;
    text-shadow: none;
  }

  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}


/* follow me @nodws */