/* Green glow checkbox made by: csozi | Website: www.csozi.hu*/

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
  border-radius: 25px;
}

.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: .2em;
  background-color: #004000;
  transition: 0.1s;
}

.container input:checked~.checkmark {
  background-color: #00ff00;
  box-shadow: 0 0 10px #00ff00;
}

.card {
  width: 50vw;
  height: 42vh;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: 1px 5px 60px 0px #100a886b;
  border-bottom: #ce00ce 4px;
  

}


.card span {
  font-weight: 600;
  color: white;
  text-align: center;
  display: block;
  padding-top: 10px;
  font-size: 16px;
}

.card .job {
  
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  padding-top: 3px;
  font-size: 12px;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* This is where the magic happens. */
}




.button-add {
  color: #ecf0f1;
  font-size: 10px;
  background-color: #e67e22;
  border: 1px solid #f39c12;
  border-radius: 5px;
  box-shadow: 0px 6px 0px #d35400;
  transition: all .1s;
}

.button-add:active {
  box-shadow: 0px 2px 0px #d35400;
  position: relative;
  top: 2px;
}




.radio-input input {
  display: none;
}

.radio-input {
  display: flex;
  flex-direction: column;
  padding: 12px;
  background: #fff;
  color: #000;
  border-radius: 10px;
  box-shadow: 0px 87px 78px -39px rgba(0, 0, 0, 0.4);
  width: 320px;
}

.info {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question {
  color: rgb(49, 49, 49);
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 800;
}

.steps {
  background-color: rgb(0, 0, 0);
  padding: 4px;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
}

.radio-input input {
  display: none;
}

.radio-input {
  display: flex;
  flex-direction: column;
  padding: 12px;
  background: #fff;
  color: #000;
  border-radius: 10px;
  box-shadow: 0px 87px 78px -39px rgba(0, 0, 0, 0.4);
  width: 320px;
}

.info {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question {
  color: rgb(49, 49, 49);
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 800;
}

.steps {
  background-color: rgb(0, 0, 0);
  padding: 4px;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
}

.radio-input label {
  display: flex;
  background-color: #fff;
  padding: 14px;
  margin: 8px 0 0 0;
  font-size: 13px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid rgba(187, 187, 187, 0.164);
  color: #000;
  transition: .3s ease;
}

.radio-input label:hover {
  background-color: rgba(24, 24, 24, 0.13);
  border: 1px solid #bbb;
}

.result {
  margin-top: 10px;
  font-weight: 600;
  font-size: 12px;
  display: none;
  transition: display .4s ease;
}

.result.success {
  color: green;
}

.result.error {
  color: red;
}

.radio-input input:checked+label {
  border-color: red;
  color: red;
}

.radio-input input[value="City"]:checked+label {
  border-color: rgb(22, 245, 22);
  color: rgb(16, 184, 16);
}

.radio-input:has(input[value="City"]:checked) .result.success {
  display: flex;
}

.radio-input:has(input:not([value="City"]):checked) .result.error {
  display: flex;
}

.cssbuttons-io-button {
  display: flex;
  align-items: center;
  font-family: mono;
  font-weight: 500;
  font-size: 16px;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20, 167, 62, 1) 0%, rgba(102, 247, 113, 1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
}

.cssbuttons-io-button svg {
  width: 26px;
  height: 30px;
}


.cssbuttons-io-button:hover {
  box-shadow: inset 0px 0px 5px rgba(20, 167, 62, 1), inset 0px 0px 5px rgba(20, 167, 62, 1), 0px 0px 50px rgba(20, 167, 62, 1), 0px 0px 50px rgba(20, 167, 62, 1);

}

.cssbuttons-io-button:active {
  box-shadow: inset 0px 0px 5px rgba(255, 102, 0, 0.5), inset 0px 0px 5px rgba(255, 212, 59, 0.5), 0px 0px 50px rgba(255, 212, 59, 0.5), 0px 0px 50px rgba(255, 102, 0, 0.5);
}

.card-lib {
  width: 50vw;
  max-width: 50vw;
  height: 25vh;
  display: flex;
  gap: 5px;
  padding: .4em;
}

.card-lib p {
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  transition: all .5s;
  backdrop-filter: blur(13px) saturate(72%);
  -webkit-backdrop-filter: blur(13px) saturate(72%);
  background-color: rgba(17, 25, 40, 0.93);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-lib p:hover {
  flex: 4;
}

.card-lib p span {
  min-width: 14em;
  padding: .5em;
  text-align: center;
  transform: rotate(-90deg);
  transition: all .5s;
  text-transform: uppercase;
  color: #b6b6b6;
  letter-spacing: .1em;
  font-size: 15px;
}

.card-lib p:hover span {
  transform: rotate(0);
}


.text{
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-glass{
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.description{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
  margin: 0 auto;
  font-size: 10px;
}