.footer {
    text-align: center;
    user-select: none;
    padding: 3px;
    background: #112 url(//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
}

.btn {

    border-radius: 5px;
    border-top: 2px solid rgb(255, 255, 255);
    cursor: pointer;
    filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
    animation: flickering 2s linear infinite both;
    text-transform: uppercase;
    font-weight: 100;
    transition: 0.6s;

}