.card-scenario {
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
}

.card-scenario:hover {
  border: 1px solid black;
  transform: scale(1.05);
}
.scenario-image{
border-radius: 50px;

}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.descriptaion{
width:20vw ;
  margin: 0 auto;
  text-align: center;
  font-size: .3em;
  overflow: hidden;
  text-overflow: ellipsis 
}

.button-senario {
  --😀: #644dff;
  --😀😀: #4836bb;
  --😀😀😀: #654dff63;
  cursor: pointer;
  width: 84px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: .525em;
  font-weight: 800;
  letter-spacing: 2px;
  color: #fff;
  background: var(--😀);
  border: 2px solid var(--😀😀);
  border-radius: .75rem;
  box-shadow: 0 8px 0 var(--😀😀);
  transition: all .1s ease;
  filter: drop-shadow(0 15px 20px var(--😀😀😀));
}

.button-senario:active {
  letter-spacing: 0px;
  transform: skew(-10deg) translateY(8px);
  box-shadow: 0 0 0 var(--😀😀😀);
}