.shadow__btn {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
  }
  
  .shadow__btn {
    --primary-color: #fff;
    --hovered-color: #ce00ce;
    position: relative;
    display: flex;
    font-weight: 200;
    font-size: 9px;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
  }
  
  .shadow__btn p {
    margin: 0;
    position: relative;
    font-size: 9px;
    color: var(--primary-color)
  }
  
  .shadow__btn::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: var(--hovered-color);
    height: 2px;
    transition: 0.3s ease-out;
  }
  
  .shadow__btn p::before {
    position: absolute;
  /*   box-sizing: border-box; */
    content: "جزییات بیشتر";
    width: 0%;
    inset: 0;
    color: var(--hovered-color);
    overflow: hidden;
    transition: 0.1s ease-out;
  }
  
  .shadow__btn:hover::after {
    width: 100%;
  }
  
  .shadow__btn:hover p::before {
    width: 100%;
  }
  
  .shadow__btn:hover svg {
    transform: translateX(4px);
    color: var(--hovered-color)
  }
  
  .shadow__btn svg {
    color: var(--primary-color);
    transition: 0.2s;
    position: relative;
    width: 15px;
    transition-delay: 0.2s;
  }